.home{
    
    &__content{
        font-family: $font-2;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__idImg{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;  
            background-color: beige;  
        }
    }
    &__msg{
        width: 30%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        
        h2{
            color: $color-1;
            font-family: $font-2;
            font-size: $fs-4;
        }
        p{
            color: $color-1;
            text-align: left;
            font-size: $fs-1;
            letter-spacing: 0em        }
    }
}